C:\Users\Linc\IdeaProjects\BlockMaker
C:\Users\Linc\IdeaProjects\BlockMaker\build\*
C:\Users\Linc\IdeaProjects\BlockMaker\source\*
C:\Users\Linc\IdeaProjects\BlockMaker\out\*
C:\Users\Linc\IdeaProjects\BlockMaker\blockMakerMod.iml
C:\Users\Linc\IdeaProjects\BlockMaker\gradlew.bat
C:\Users\Linc\IdeaProjects\BlockMaker\gradlew
C:\Users\Linc\IdeaProjects\BlockMaker\build.gradle
C:\Users\Linc\IdeaProjects\BlockMaker\settings.gradle